@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Lobster&family=Nanum+Pen+Script&display=swap');
a {
  text-decoration: none;
  color: black;
}
.Mainc {
  width: 100%;
  background-color: #fafafa;
  .MainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .nav {
      /* border: 1px solid red; */
      max-width: 100%;
      /*25일 수정 max로 바꿔라 */
      height: 70px;
      display: flex;
      justify-content: flex-end;
      background-color: white;
      .nav-menu {
        width: 890px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 50px;
        span {
          font-family: 'Lobster', cursive;
          font-weight: 900;
          font-size: 30px;
        }
        .nav-left {
          height: 100%;
          display: flex;
          align-items: center;
          span {
            padding-left: 15px;
          }
          .insta-logo {
            font-size: 30px;
            border-right: 2px solid black;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

.idText {
  font-family: 'DynaPuff', cursive;
}

.nav-center {
  width: 210px;
  height: 30px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(167, 164, 164);
  box-shadow: 1px 1px gray;
  align-items: center;
  border-radius: 5px;
  input {
    width: 200px;
    height: 20px;
    border: 1px solid rgb(208, 207, 207);
    font-size: 15px;
    border: 0px;
    &:focus {
      outline: none;
    }
  }
  .rectangular {
    width: 20px;
    height: 20px;
    background-color: rgb(232, 219, 219);
    position: absolute;
    z-index: 0;
    top: 60px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .search-list {
    background-color: rgb(255, 255, 255);
    width: 250px;
    position: absolute;
    top: 60px;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px gray;
    border: 1px solid gray;
    .search-item {
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:hover {
        background-color: rgb(192, 184, 184);
        border-radius: 10px;
      }
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}

/* <=========여기서부터 작업 nav right========>*/
.nav-right i {
  margin-right: 10px;
  font-size: 30px;
}

.nav-right {
  position: relative;
}
.drop-box {
  width: 100%;
  position: absolute;
  z-index: 0;
  display: none;
  margin-top: 20px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(198, 191, 191);
  box-shadow: 2px 2px rgb(201, 193, 193);
  .drop-list {
    padding: 10px;
  }
}

.profile-logo:hover {
  cursor: pointer;
}
.show-dropdown {
  display: block;
}
// .nav-right > div div {
//   margin-top: 10px;
// }

// .nav-right > div div:last-child {
//   border-top: 1px solid black;
//   padding-top: 10px;
// }

/*<---------------------main--------------------->*/
.main {
  /* border: 1px solid blue; */
  max-width: 975px;
  min-width: 500px;
  /*25일 수정 ""Height->max, minW 추가했음.*/

  min-height: 600px; /*25일 수정 원래 90%*/
  display: flex;
  justify-content: flex-end;
  background-color: #fafafa;
  margin-top: 10px;
  .feeds {
    margin-top: 20px;
    border: 1px solid rgb(214, 209, 209);
    width: 60%;
    height: 100%;
    position: relative; /*댓글 인풋 밑에 붙이려고*/
    article {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain; /*사진비율 원본*/
      }
      .feed-title {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .profile {
          display: flex;
          align-items: center;
          margin-left: 10px;
          width: 100%;
          height: 100%;
          .profile-logo {
            height: 45px;
            width: 45px;
            background-image: url('../../../assets/jaehyeon/profile.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px;
            position: relative;
          }
        }
        i {
          font-size: 25px;
        }
        .feed-title-right {
          margin-right: 10px;
        }
      }
      .feed-image {
        background-color: black;
        height: 450px;
      }
    }
  }
}

//<----------feed footer(댓글창전체)---->
// .feed-footer i {
//   margin-right: 10px;
//   font-size: 20px;
// } //피드 푸터와 커멘트하트에 넣어 각각 넣어줬음.
.feed-footer {
  padding: 10px 10px 0px 10px;
  min-height: 200px;
  // .feed-footer div:first-child {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }
  .footer-top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    i {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .feed-footer div:nth-child(2) {
    margin-bottom: 5px;
  }
  .feed-footer div:nth-child(3) {
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .comments-output-box {
    width: 100%;
    overflow: hidden;
    .comment {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      button {
        border: 0px;
        color: #fafafa;
        transition: all 0.5s;
        opacity: 0.1;
      }
      &:hover {
        button {
          background-color: bisque;
          color: red;
          opacity: 1;
        }
      }
      .commentHeart {
        display: flex;
        align-items: center;
        i {
          margin-right: 10px;
          font-size: 20px;
        }
      }
      .comment-item {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        .comment-profile {
          width: 30px;
          height: 30px;
          margin-right: 5px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
          .idText {
            margin-right: 5px;
          }
        }
        .comment-output-text {
          width: 360px;
          margin-left: 5px;
        }
      }
    }
  }
}

.comment-box {
  /* position: absolute; */
  bottom: 30px;
  width: 100%;
  height: 40px;
  border-top: 1px solid gray;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  .comment-input {
    width: 70%;
    height: 100%;
    border: 0px;
    &:focus {
      outline: none;
    }
  }
  button {
    margin-top: 10px;
    background-color: white;
    color: skyblue;
    border: none;
  }
}

.commentID {
  font-family: 'DynaPuff', cursive;
}

/*---------------------우측 추천 박스 전체 구역--------------*/
.main-right {
  margin-left: 10px;
  margin-top: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main-right-top {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    .top-profile {
      width: 60px;
      height: 60px;
      background: linear-gradient(70deg, blue, pink);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
      }
    }
    .top-profile-text {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      span {
        margin-bottom: 5px;
      }
    }
  }
}

// .main-right-top div:first-child .main-right-top div:nth-child(2) {
//   margin-left: 5px;
//   padding-top: 12px;
// }

/*<=============== main right mid =================>*/
.main-right-mid {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border: 0px;
  margin-top: 15px;
  padding: 10px 0px 10px 0px;
  border: 1px solid rgb(214, 209, 209);
  .main-right-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-bottom: 5px;
  }
  .recom-list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 5px;
    .recom-box {
      display: flex;
      align-items: center;
      .img-box {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: linear-gradient(70deg, blue, pink);
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.recom-list div img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 2px solid white;
}

/*-----------main right bottom----------*/
.main-right-bot {
  width: 100%;
  height: 250px;
  overflow: scroll;
  border: 1px solid rgb(214, 209, 209);
  margin-top: 10px;
  .bot-title {
    width: 260px;
    overflow: hidden;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    div {
      margin-left: 5px;
    }
  }
  .mr-bot-box {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 5px;
    .recom-img-box {
      background: linear-gradient(70deg, blue, pink);
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid white;
      }
    }
    .recom-txt-box {
      margin-left: 10px;
    }
  }
}

.show-more {
  min-height: 330px;
  overflow: scroll;
}
#show-more:hover {
  cursor: pointer;
}

.info {
  margin: 20px 0 10px 0;
  color: gray;
}

.comm #hide {
  display: none;
}
.hide {
  display: none;
}
li .fa-solid {
  color: red;
}
@media screen and (max-width: 600px) {
  .nav-center,
  .main-right {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav-menu {
    width: 100%;
    margin-left: 0px;
  }
  .main .feeds {
    justify-content: center;
    width: 90%;
  }
  .main {
    justify-content: center;
  }
}
